.box{
    margin-left: 200px;
    margin-right: 100px;
    font-size: 13px;
    border: 1px black solid;
    background-color: rgba(0, 0, 0, 0.445);
}

th[scope="col"]{
    color: white;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.493);
}

th, td{
    color: white;
}

td{
    text-align: center;
}

select{
    background-color: rgba(0, 0, 0, 0.445);
    color: white;
}